# Ignore user's workspace
workspace/

# Build directory
build/
/build*/
dist/

# Compiled objects / libs / bundles
*.o
*.obj
*.a
*.app

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# clangd cache and code completion files
.cache
compile_commands.json

# Blender temporary files
*.blend1

# macOS / editors
.DS_Store
.vscode/
.idea/
*.swp
